################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xabe.AutoUpdater/obj
/Xabe.AutoUpdater/bin/Debug/netcoreapp2.0
/.vs/Xabe.AutoUpdater/v15/sqlite3
/.vs
